@import url('https://fonts.googleapis.com/css2?family=Wallpoet&display=swap');

$sprites: url('./assets/sprites.png');

@mixin borderConvex {
  border: 3px solid #ffffff;
  border-right-color: #7b7b7b;
  border-bottom-color: #7b7b7b;
}

@mixin borderConcave {
  border: 3px solid #7b7b7b;
  border-right-color: #ffffff;
  border-bottom-color: #ffffff;
}

* {
  font-family: sans-serif;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.App {
  min-height: 100vh;
  background: linear-gradient(315deg, #f1f1f1, #cbcbcb);
}

.navigation {
  height: 70px;
  display: flex;
  flex-grow: 0;
  justify-content: center;
  align-items: center;

  background-color: #bbbbbb;

  @include borderConvex;

  label {
    font-weight: bold;
    margin-right: 8px;
  }

  input {
    font-weight: bold;
    background-color: #bbbbbb;
    @include borderConcave;
  }

  & > button {
    font-size: 1rem;
    font-weight: bold;
    padding: 8px;
    min-width: 70px;
    @include borderConvex;

    &:active {
      background-color: #bbbbbb;
      @include borderConcave;
    }
  }

  & > * {
    margin: 0 16px;
  }
}

.gameWrapper {
  display: flex;
  min-height: calc(100vh - 70px);
  justify-content: center;
  align-items: center;

  * {
    background-color: #bdbdbd;
  }

  .game {
    position: relative;
    width: 500px;
    height: 800px;
    padding: 8px;

    @include borderConvex
  }
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  margin-bottom: 8px;

  .topCounter {
    font-family: Wallpoet, sans-serif;
    font-size: 36px;
    text-align: right;
    color: #ec0701;
    background: #000;
    padding: 0;
    margin: 0 8px;
    min-width: 91px;
  }

  .smileyWrapper {
    background-image: $sprites;
    background-size: 150px;
    background-position: 150px 35px;

    @include borderConvex;
    width: 40px;
    height: 40px;

    &:active {
      @include borderConcave;
      background-position: 114px 35px;
    }
  }

  @include borderConcave;
}

.main {
  height: calc(800px - 60px - 4 * 8px);

  @include borderConcave
}